/**
 * @ngdoc styles
 * @name main.css
 * @description
 * Main style cheat for custom styles and edits of bootstrap
 */
.header-menu{
    font-size: 18px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    font-family: "proxima-nova",helvetica,arial,sans-serif;

    margin-left: 120px;
    margin-top: 30px;
    float: left;
    text-shadow: 0.5px 0.5px black;
}

.section-banner{
    width: 100%;
    /*position: relative;*/
    background-image: url("../images/15270773907_ebc109d3b2_o.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-position-x: 50%;
    background-position-y: 100%;
}

.section-info-two{
    text-align: center;
    padding-top: 100px;
    padding-right: 20%;
    padding-left: 20%;
}

.hero-unit{
    width: 100%;
    padding: 340px 0 220px 0;
    margin: 0 auto;
    text-align: center;
    background-attachment: fixed;
    color: #f5f5f5;
    text-shadow: 0.5px 0.5px black;
    font-size: 200%;
}

a{
    text-decoration: none;
    color: #f5f5f5;
    padding-right: 35px;
}

a:hover{
    color: #f5f5f5;
}

.hero{
    padding-top: 20px;
    padding-left: 35%;
    padding-right: 35%;
    text-align: center;
}

.hero-unit h1{
    font-size: 300%;
}

.loginTemplate{
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
}

.loginTemplate-sub{
  padding-top: 1%;
  padding-left: 30%;
  padding-right: 60%;
}

body{
    background-color: #e8e8e8;
}

.section-info{
    background-color: #222222;
}

.row{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
    color: #f5f5f5;
}

.section-footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 180px;
    clear:both;
    padding-top:10px;
    background-color: #222222;
    color: #f5f5f5;

    padding-right: 5%;
    padding-left: 5%;
}

.section-footer-right{
    float: right;
}

.section-footer-left{
    float: left;
}

.col-lg-6{
    padding-bottom: 40px;
}

.header-fill{
    background-color: #222222;
    height: 10%;
    width: 100%;
    position: absolute;
    clear: inherit;
}

.col-md-4{

    background-clip: content-box;
    text-align: center;
    box-shadow: 0.1px 0.3px 0.2px 0.2px black;
    padding-left: 15px;
    padding-right: 15px;
}

.container-inner textarea{
    background: none;
    border: 1px solid #222222;
    width: 430px;
    height: 149px;
    resize: none;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: -300px;
}
.wrapper2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 150px;
    margin-left: -300px;
}

.container-inner{
    padding-top: 150px;
}

.messagesContainers{
  background-color: #f0f0f0;
  border-radius: 10px 10px 10px 10px;
  width: 50%;
}

.messagesContainers h3{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.share-button-group{
  padding-top: 10px;
}
