<div class="header-fill">
    <div class="header-menu">
        <ui class="menu">
            <div>
                <a ng-show-auth="" href="#/main">start page</a>
                <a ng-hide-auth="" href="#/login">sign in</a>
                <a ng-show-auth="" ng-click="logout()">sign out</a>
                <a ng-show-auth="" href="#/account">account</a>
                <a ng-show-auth="" href="#/mypage">my page</a>
            </div>
        </ui>
    </div>
</div>

<div class="loginTemplate">
    <div class="row-fluid">

            <h3>Profile</h3>

            <form role="form">
                <p class="form-group">
                    <label>Account ID:</label>
                    <br />{{user.uid}}
                </p>

                <p class="form-group">
                    <label>Email:</label>
                    <br />{{user.email}}
                </p>
            </form>

            <p>
                <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
            </p>

      <div class="col-md-6">
            <form role="form">
                <h3>Change Password</h3>

                <p class="form-group">
                    <label>Old Password:</label>
                    <input type="password" ng-keypress="clear()" ng-model="oldpass" class="form-control" />
                </p>

                <p class="form-group">
                    <label>New Password:</label>
                    <input type="password" ng-keypress="clear()" ng-model="newpass" class="form-control" />
                </p>

                <p class="form-group">
                    <label>Confirm New Password:</label>
                    <input type="password" ng-keypress="clear()" ng-model="confirm" class="form-control" />
                </p>

                <button class="btn btn-primary" ng-click="changePassword(oldpass, newpass, confirm)">change password</button>

                <p class="error" ng-show="err">{{err}}</p>
                <p class="good" ng-show="msg">{{msg}}</p>
            </form>
        </div>

        <div class="col-md-6">
            <form>
              <div class="loginTemplate-sub">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v2.0";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <script src="https://apis.google.com/js/platform.js" async defer>
                  {lang: 'en-GB'}
                </script>

                <div>
                  <div class="share-button-group">
                    <div class="fb-share-button" data-href="http://selfacknowledgement-tempproj.rhcloud.com/"></div>
                  </div>

                  <div class="share-button-group">
                    <a href="https://twitter.com/intent/tweet?button_hashtag=SelfAcknowledgement" class="twitter-hashtag-button">Tweet #SelfAcknowledgement</a>
                  </div>

                  <div class="share-button-group">
                    <div class="g-plus" data-action="share"></div>
                  </div>
                </div>
              </div>

            </form>
        </div>

    </div>
    <p class="clearfix"></p>
    <div ng-repeat="message in messages" class="alert alert-{{message.type}}">{{message.text}}</div>

</div>
