<div class="header-menu">
    <ui class="menu">
        <div>
            <a ng-show-auth="" href="#/main">start page</a>
            <a ng-hide-auth="" href="#/login">sign in</a>
            <a ng-show-auth="" ng-click="logout()">sign out</a>
            <a ng-show-auth="" href="#/account">account</a>
            <a ng-show-auth="" href="#/mypage">my page</a>
            <a ng-click="goToContact()">contact</a>
            <a ng-click="goToNews()">news</a>
        </div>
    </ui>
</div>

<div class="section-banner">
    <div class="hero-unit">
        <h1>
            Hello and welcome,
        </h1>
        <p>
            To a new and exiting site for self acknowledgment!
        </p>
    </div>
</div>

<div id="news" class="section-info">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Today's News!!!</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id pretium massa, a congue justo.</p>
            </div>

            <div class="col-md-4">
                <h1>Today's News!!!</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id pretium massa, a congue justo.</p>
            </div>

            <div class="col-md-4">
                <h1>Today's News!!!</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id pretium massa, a congue justo.</p>
            </div>
        </div>
    </div>
</div>

<div class="section-info-two">
    <!-- "https://www.flickr.com/photos/chili5558/15345627180/in/pool-83823859@N00/" -->
    <img src="../images/15345627180_54ea724595_m.jpg">
    <!-- "https://www.flickr.com/photos/100732098@N06/15384778169/in/pool-83823859@N00" -->
    <img src="../images/15384778169_605cc9b9b7_m.jpg">

    <div class="col-lg-6">
        <h1 >
            Hi, welcome to a website for self-acknowledgement
        </h1> <br>

        <p>
            In these days of social media it is easy to post an entry on for example Facebook in search
            for acknowledgement from your peers, but maybe all that is really needed is to acknowledge yourself?
        </p>

        <p>
            And that exactly what this website if for. You can give yourself motivational post that will help you
            see all the good things you accomplice in a day.
        </p>

        <p>
            Maybe you have a bigger goal? Well, then you can use this website too keep track of all the good things you
            have accomplished.
        </p>

        <br>
        <p>
            If you like the sound of this, well become a member. It's free!
        </p>
    </div>

      <div class="col-lg-6">
        <h1 >
            Hi, welcome to a website for self-acknowledgement
        </h1> <br>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id pretium massa, a congue justo. Donec dictum libero quis quam interdum laoreet. Phasellus venenatis neque non interdum volutpat. Aenean non lacus cursus mauris hendrerit imperdiet. Nullam pellentesque mi vitae lectus vehicula, a accumsan urna facilisis. Morbi fermentum laoreet posuere. Vivamus cursus finibus eros. Aliquam ut luctus tortor. Suspendisse porttitor facilisis elit, in bibendum leo scelerisque a. Mauris imperdiet leo vel rhoncus vehicula. In hac habitasse platea dictumst. In a nulla quis odio scelerisque dictum nec eget leo.
        </p>
        <p>
            Nullam non enim dapibus, sollicitudin neque vel, commodo odio. Etiam fringilla facilisis risus ut lobortis. Donec maximus ultrices ligula, et pulvinar diam maximus id. Curabitur porta consequat odio, non mollis ante mollis et. Quisque quis erat vitae tortor maximus pharetra fermentum vel leo. Nulla non ornare enim, sed mattis sapien. Cras non nibh eget ipsum tempus feugiat. Mauris vitae elit id risus viverra convallis varius id magna. Cras sit amet libero ex.
        </p>
    </div>
</div>

<div id="contact" class="section-footer">
    <h1>Self Acknowledgement</h1>

    <a href="https://twitter.com/intent/tweet?button_hashtag=SelfAcknowledgement" class="twitter-hashtag-button">Tweet #SelfAcknowledgement</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <hr>
    <div class="section-footer-left">
        © Copyright Some Cool Company, 2014
    </div>

    <div class="section-footer-right">
        Made In Sweden
    </div>
</div>
