<div class="header-fill">
    <div class="header-menu">
        <ui class="menu">
            <div>
                <a ng-show-auth="" href="#/main">start page</a>
                <a ng-hide-auth="" href="#/login">sign in</a>
                <a ng-show-auth="" ng-click="logout()">sign out</a>
                <a ng-show-auth="" href="#/account">account</a>
                <a ng-show-auth="" href="#/mypage">my page</a>
            </div>
        </ui>
    </div>
</div>

<div class="container-inner">
    <div class="container">
        <form role="form">
            <p class="form-group">
                <label>Hello, {{user.email}}</label>
            </p>

            <textarea ng-model="newMessage" placeholder="{{textBoxMessage}}"></textarea>

            <br><button type="button" class="btn btn-success" ng-click="addMessage();newMessage = null">Add Post</button>
        </form>

        <br><ul id="messages" ng-show="messages.length">
            <li ng-repeat="message in messages | reverse" ng-change="list.$save(message)">
              <div class="messagesContainers">
                <h3> {{message.post}} </h3>
                <h5> {{message.date}} </h5>
                <button type="button" class="btn btn-danger btn-xs" ng-click="removeMe(message)">Remove</button>
                <button type="button" class="btn btn-warning btn-xs" ng-click="editMe(message)">Edit</button>
              </div>
            </li>
        </ul>

        <p class="alert alert-danger" ng-show="err">{{err}}</p>
    </div>
</div>
